<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let user of listaUsuarios">
    <ion-avatar slot="start">
      <img [src]="user.avatar">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
    <div>
      <h1>{{user.fist.name}}{{user.last.name}}</h1>
      <a [href]="'mailto: ' + user.mail">{{user.mail}}</a>
    </div>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
